/* * importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*“select everything on the page.”

So this rule applies to all HTML elements — every <div>, <p>, <h1>, <a>, <img>, etc. */
*{
    margin: 0;
    padding: 0;
  font-family: "Montserrat", sans-serif;
  
}

:root{
     --border-radius-circle: 50%;
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

   /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;


  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

/* Site max width */
--site-max-width: 1300px;
}
/* instead of instantly jumping to the section, the page will scroll smoothly down. */
html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
    border: none;
    background:none;
}

img{
    width: 100%;
    
}

.section-content{
    margin: 0 auto;
    padding:0 20px ;
    max-width: var(--site-max-width);
    font-size: var(--font-size-xl);
}

.section-title{
    text-align: center;
    padding:60px 0   100px;
    text-transform: uppercase;
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* Navbar Styling*/
header{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size:var(--font-size-xl) ;
    font-weight:var(--font-weight-semibold);
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--white-color);
    
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
     color: var(--primary-color);
     background: var(--secondary-color);

}
/* Hero Section Styling */
.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver",sans-serif;
}

.hero-section .hero-details .subtitle{
    font-size: var(--font-size-xl);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);

}

.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .buttons{
    justify-content: center;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover{
     color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.hero-section .hero-image-wrapper{
     max-width: 500px;
     margin-right:30px ;
}
/* About Section Styling*/
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .hero-image-wrapper .about-image{
    width:400px ;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title{
   padding: 0;
}

.about-section .about-detail{
    max-width: 50%;

}
.about-section .about-details .text{
    line-height: 30px;
    margin:50px 0 30px;
    text-align: center;
    font-size:var(--font-size-m) ;
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;    
}

.about-section .social-link-list .social-link{
    color: var(--primary-color);
    font-size:var(--font-size-l) ;
    transition: 0.2s ease;
}
.about-section .social-link-list .social-link:hover{
    color: var(--secondary-color);
    font-size:var(--font-size-l) ;
}

/* Menu Section Styling*/

.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}
 
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
}

.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size:var(--font-size-l) ;
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);
}

/* Testimonials Section Styling*/

.testimonial {
     text-align: center;
    padding: 20px;
}

.slider-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.testimonials-section{
    padding: 50px 0 100px;
    background-color: var(--light-pink-color);
}

.testimonials-section .slider-wrapper{
   
    padding: 0; 

}

.testimonials-section .testimonial {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
}

.testimonials-section .testimonial .user-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px;}

.testimonials-section .testimonial .name{
    margin-bottom:16px ;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback{
    line-height: 25px;
    margin-left: 80px;
    
}

.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-button{
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-section .swiper-button:hover{
    color: var(--primary-color);
}

.gallery-section{
    padding: 0 50px 100px;
}

/* So what does flex-wrap: wrap; do?
It allows flex items to move to a new line (wrap) if there isn’t enough space in one row.*/
.gallery-section .gallery-list{
    display: flex;
    flex-wrap:wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100%/ 3 - 32px);
}

.gallery-section .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3 ease;
}

.gallery-section .gallery-item:hover .gallery-image{
   transform: scale(1.3);
}

/* Contact Us Section Styling*/

.contact-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.contact-section .section-content{
    flex-direction: column;
    display: flex;
    gap: 48px;
    align-items:center;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info{
 display: flex;
    gap: 48px;
    margin: 20px 0;
    align-items: center;
}

/* He wrote i at the end because he wants to style the <i> icon element inside .contact-info.*/
.contact-section .contact-info-list .contact-info i{
    font-size:var(--font-size-m) ;
   
}

.contact-section .contact-form .form-input{
    width: 100%;
     height: 50px;
     padding: 0 12px;
     outline: none;
     margin-bottom:16px ;
    background-color: var(--white-color);
    border-radius:var(--border-radius-s) ;
    border: 1px solid var(--medium-gray-color);
}

.contact-section .contact-form{
    max-width: 50%;
} 

.contact-section .contact-form textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;
}
/* focus:Apply these styles when the user clicks on the element or tabs into it.*/
.contact-section .contact-form .form-input:focus{
border-color: var(--secondary-color);
}

.contact-section .contact-form .submit-button{
    padding: 10px 26px;
    margin-top:10px ;
    color: var(--white-color);
    font-size: var(--font-size-m);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    font-weight:var(--font-weight-medium) ;
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover{
background: transparent;
}

/* Footer Section Styling*/
.footer-section{
    padding: 20px 0;
    background: var(--dark-color);
}


.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*So instead of writing:

.footer-section .copyright-text,
.footer-section .social-link,
.footer-section .policy-link {
    color: var(--white-color);
}
 we use where    */
.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list{
    display: flex;
    gap: 25px;    
}

.footer-section .social-link-list .social-link{
    font-size:var(l) ;
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}

.footer-section .policy-text .separator{
    color: var(--white-color);
    margin:0 5px;
}

/* Responsive Media query code for max width 1024px.*/
@media screen and (max-width:1024px ){

    .menu-section .menu-list{
        gap: 30px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 2 - 30px);
    }
    .menu-section .menu-list .menu-item .menu-image{
    max-width: 200px;
    
}
}

/* Responsive Media query code for max width 900px, Apply these CSS styles only when the screen width is 900 pixels or smaller.*/
@media screen and (max-width:900px ){
   :root{
     --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
   }
/* That show-mobile-menu is not a built-in CSS class —
it’s a custom class that your JavaScript adds to the <body> tag when the user clicks the menu button.
::before is a CSS pseudo-element —
it allows you to create an extra “virtual” element inside another element without adding HTML code.

You often use it for decorations, overlays, or effects. */
   body.show-mobile-menu header::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);

   }
/* it lets you apply the same styles to multiple elements at once, but it won’t mess up your CSS priority system.*/
   .navbar :where(#menu-close-button, #menu-open-button){
    font-size: var(--font-size-l);
    display: block;
   }
   
   .navbar #menu-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
   }

   .navbar #menu-open-button{
    color: var(--white-color);
    
   }
   
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2 ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;

    }
    .navbar .nav-menu .nav-link{
        color: var(--dark-color);
        font-size: var(--font-size-l);
        margin-top: 17px;
        display: block;
    }

.hero-section .section-content{
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
}
/* The :is() pseudo-class lets you group multiple selectors together inside parentheses — so you don’t have to repeat the same CSS rule several times. 
Without :is(), you’d have to write:
.hero-section .hero-details .subtitle,
.hero-section .hero-details .description*/
.hero-section .hero-details .subtitle,
.hero-section .hero-details .description {
    max-width: 70%;
}

.about-section .about-details {
    max-width: 600px;
}

.hero-section .hero-image-wrapper{
    max-width: 270px;
    margin-right: 0;
}
.about-section .section-content{
    gap: 70px;
    flex-direction: column-reverse;
}
.about-section .about-image-wrapper .about-image{
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
}
.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100%/ 2 - 30px);
}

.gallery-section .gallery-item .gallery-image{
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}
/*The element will be enlarged to 130% of its original size.*/
.gallery-section .gallery-item:hover .gallery-image{
transform: scale(1.3);
}

.gallery-section .gallery-list{
    gap: 30px;
}

.gallery-section .gallery-list .gallery-item{
   width: calc(100%/ 2 - 30px);
}
}

@media screen and (max-width:640px ){
    .menu-section .menu-list{
        gap: 60px;
    }

     .menu-section .menu-list .menu-item,
     .gallery-section .gallery-list .gallery-item{
        width: 100%;
    }

    .testimonials-section .slider-wrapper{
        margin: 0 0 30px;
    }

    .testimonials-section .swiper-button{
        display: none;
    }
    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:767px){
    .hero-section .section-content .hero-details .subtitle, .description{
        padding: 10px 45px;
    }

    .hero-section .section-content .buttons{
        max-width: 400px;
        display: flex;        
    }

    .contact-section .section-content .contact-info-list .contact-info{
        padding-left: 5px;
    }
}